/* Page background */
html {
	height: 100%;
	font-family: 'Istok Web', 'Leelawadee UI Semilight', 'Ubuntu', 'Montserrat', sans-serif;
	font-size: 18px;
	color: var(--text);
	background-color: #e9e9e9;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* align #main to center and allow it to stretch to the bottom of the page no matter what */
body {
	min-height: 100%;
	display : flex;
	justify-content: center;
}

/* Main content container */
#main {
	background-color: #f3f3f3;
	padding: 50px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
}

h2 {
	font-weight: 400;
}

hr {
	border: none;
	border-bottom: 1px solid var(--borders);
}


.tab-content {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 20px;
}

.main-content, .sidebar {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 20px;
	flex-grow: 1;
}

.sidebar {
	min-width: 350px;
}

.details-grouping {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 1px solid var(--borders);
	border-radius: 5px;
	padding: 10px;
	justify-content: stretch;
}

.details-grouping h3 {
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--borders);
}

.details-grouping .details-element.row * {
	width: 50%;
}

/* <labels> act as a container for both their text and their input field so that both can be positioned/aligned as a pair */
label {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	line-height: 25px;
}


/* Text input fields */
input[type=text], textarea, input[type=number] {
	font-family: 'Istok Web', 'Leelawadee UI Semilight', 'Ubuntu', 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 5px 8px;
	min-width: 100px;
	border-radius: 3px;
	border: none;
	outline: none;
	resize: none;
	text-align: right;
}

/* Colorize placeholder text when empty */
input[type=text]::placeholder, textarea::placeholder {
	color: #444;
}

/* Reactive to mouse-over*/
input[type=text]:hover, textarea:hover, input[type=number]:hover {
	box-shadow: 0 3px 0 #ccc;
}

/* Reactive to being used */
input[type=text]:focus, textarea:focus, input[type=number]:focus {
	box-shadow: 0 3px 0 #66f;
}

/* Make placeholder text disappear as soon as input becomes focused */
input[type=text]:focus::placeholder, textarea:focus::placeholder {
	color: #fff;
}

/* Big blue buttons */
button, input[type=button] {
	cursor: pointer;
	border: none;
	outline: none;
	text-decoration: none;
	padding: 8px 12px 8px 40px;
	border-radius: 3px;
	background-color: #3189BB;
	color: white;
} 

/* Reactive to mouse-over and focus*/
button:hover, input[type=button]:hover, button:focus, input[type=button]:focus {
	background-color: #66f;
}

/* Reactive to being pressed */
button:active, input[type=button]:active {
	background-color: #33d;
}

a, a:visited {
	color: var(--text-light);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}