---
import LayoutOuter from "../layouts/LayoutOuter.astro";
import DetailsElement from "../components/detailsElement.astro";
---
<LayoutOuter>
    <section id="filterbar">
        <h2>Liste aktiver Energieträger:</h2>
        <input type="button" value="Neuen Energieträger hinzufügen" class="icon iconPlus" />
    </section>
    
    <div class="carrier">
        <section class="base-info">
            <h1 class="carrier-name">Strom EnBW Vertrag</h1>
            <h1 class="carrier-type">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"/>
                </svg>
                Strom
            </h1>
        </section>
        <section class="graph"></section>
        <section class="values">
            <DetailsElement row
					title="Preis pro kWh"
					body="0,21€"
				/>
				<DetailsElement row 
					title="CO₂ Ausstoß pro kWh"
					body="580,1 g"
				/>
				<DetailsElement row
					title="Brennwert"
					body="1 kWh = 1 kWh"
				/>
        </section>
    </div>

    <div class="carrier">
        <section class="base-info">
            <h1 class="carrier-name">Stadtwerke KA Heizöl</h1>
            <h1 class="carrier-type">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
                </svg>
                Öl
            </h1>
        </section>
        <section class="graph"></section>
        <section class="values">
            <DetailsElement row
					title="Preis pro kWh"
					body="0,26€"
				/>
				<DetailsElement row 
					title="CO₂ Ausstoß pro kWh"
					body="325,1 g"
				/>
				<DetailsElement row
					title="Brennwert"
					body="1 L = 11,5 kWh"
				/>
        </section>
    </div>
</LayoutOuter>
<style>
    #filterbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .carrier {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        border: 1px solid var(--borders);
        border-radius: 20px;
        overflow: hidden;
    }

    .base-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        border-right: 1px solid var(--borders);
    }

    .base-info > h1 {
        padding: 20px;
        font-weight: normal;
        text-align: center;
        line-height: 25px;
        width: 200px;
    }

    .base-info > h1.carrier-name {
        font-size: 16px;
		background-color: #f9f9f9;
        border-bottom: 1px solid var(--borders);
    }

    .base-info > h1.carrier-type {
	    background-color: #e9e9e9;
        font-weight: bold;
        color: var(--text-light);
        font-size: 18px;
    }

    .graph {
        flex-grow: 1;
        background-color: #fff;
        background-image: url("img/energietraeger_graph.png");
    }

    .values {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
		background-color: #f9f9f9;
        border-left: 1px solid var(--borders);
    }

    .values :global(.row > *) {
        width: 5o%;
    }
</style>