---
import LayoutDetails from "../layouts/LayoutDetails.astro";
import DetailsElement from "../components/detailsElement.astro";
import AttachmentCard from "../components/attachmentCard.astro";
import DetailsGrouping from "../components/detailsGrouping.astro";
---
<LayoutDetails title="Austausch Klimaanlage" active="3">
	<div class="tab-content">
		<section class="main-content">

			<DetailsElement title="Betroffene Energieträger">
				<DetailsGrouping title="Strom EnBW">
					<DetailsElement row	title="Verbrauch bisher (pro Jahr)">
						<input type="text" value="27.400 kWh" />
					</DetailsElement>
					
					<DetailsElement row	title="Prognostizierte Einsparung (pro Jahr)">
						<input type="text" value="9.200 kWh" />
					</DetailsElement>
					<hr />
					
					<DetailsElement	title="Verbundene Datenpunkte">
						<AttachmentCard name="Stromzähler Bürogebäude" icon="iconMeter" />
					</DetailsElement>
					<hr />
					<DetailsElement row	title="Methode der Nachweisführung">
						<input type="text" value="Manuelle Messung" />
					</DetailsElement>
					<hr />
					<DetailsElement title="Berechnete Einsparung (pro Jahr)">
						<ul>
							<li>Strom: 9.200 kWh</li>
							<li>CO2: 4.600 kg</li>
							<li>Kosten: 1.333 €</li>
						</ul>
					</DetailsElement>
				</DetailsGrouping>
				<DetailsGrouping title="Stadtwerke KA Heizöl">
					<DetailsElement row	title="Verbrauch bisher (pro Jahr)">
						<input type="text" value="27.400 kWh" />
					</DetailsElement>
					
					<DetailsElement row	title="Prognostizierte Einsparung (pro Jahr)">
						<input type="text" value="9.200 kWh" />
					</DetailsElement>
					<hr />
					
					<DetailsElement	title="Verbundene Datenpunkte">
						<AttachmentCard name="Heizung Ablesegeräte" icon="iconMeter" />
					</DetailsElement>
					<hr />
					<DetailsElement row	title="Methode der Nachweisführung">
						<input type="text" value="Manuelle Messung" />
					</DetailsElement>
					<hr />
					<DetailsElement title="Berechnete Einsparung (pro Jahr)">
						<ul>
							<li>Strom: 9.200 kWh</li>
							<li>CO2: 4.600 kg</li>
							<li>Kosten: 1.333 €</li>
						</ul>
					</DetailsElement>
				</DetailsGrouping>
			</DetailsElement>
			<button class="icon iconPlus" style="align-self: start">Weitere hinzufügen</button>
		</section>
	</div>
</LayoutOuter>

<style>
	input[type="text"] {
		text-align: right;
	}
</style>