---
import LayoutOuter from "../layouts/LayoutOuter.astro";
---
<LayoutOuter>
    <section id="filterbar">
        <h2>Liste aktiver Maßnahmen:</h2>
        <select name="cars" id="cars">
            <option value="mine">Meine Aufgaben</option>
            <option value="all">Alle Maßnahmen</option>
        </select>
        <input type="button" value="Neue Maßnahme erstellen" class="icon iconPlus" />
    </section>
    
    <table class="tasks">
        <thead>
            <tr>
                <th>Maßnahme:</th>
                <th>Status:</th>
                <th>Fällig in:</th>
                <th>Erstellt von:</th>
                <th>Priorität:</th>
            </tr>
        </thead>
        <tbody>
            <tr class="entry">
                <td>Einweisung neuer Mitarbeiter</td>
                <td>Planung</td>
                <td>8 Tagen</td>
                <td>Max Mustermann</td>
                <td><span class="priority low">Niedrig</span></td>
            </tr>
            <tr class="entry">
                <td>
                    <a href="/policy">
                        Austausch Klimaanlage
                    </a>
                </td>
                <td>In Bearbeitung</td>
                <td>16 Tagen</td>
                <td>Otto Normal</td>
                <td><span class="priority medium">Mittel</span></td>
            </tr>
            <tr class="entry">
                <td>Heizung West Flügel</td>
                <td>Kontrolle</td>
                <td>32 Tagen</td>
                <td>Thomas Kanone</td>
                <td><span class="priority high">Hoch</span></td>
            </tr>
        </tbody>
    </table>
</LayoutOuter>
<style>
    #filterbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .tasks {
        border-radius: 7px;
        padding: 0;
        border: none;
        overflow: hidden;
        border-collapse:separate; 
        border-spacing: 0 1em;
    }

    tr.entry > td:first-child {
        border-radius: 7px 0 0 7px;
        padding-left: 50px;
        border-left: 1px solid #ccc;
    }

    tr.entry > td:first-child::before {
        content: "\203A";
        display: inline-block;
        font-weight: bold;
        transform: translate(-25px, 0);
    }

    tr.entry > td:last-child {
        border-radius: 0 7px 7px 0;
        border-right: 1px solid #ccc;
    }

    thead th {
        text-align: left;
        padding: 15px 20px;
        font-weight: normal;
        color: #444;
        border-bottom: 1px solid #d8d8d8;
    }

    tr.entry > td {
        background: #fff;
        cursor: pointer;
        padding: 15px 20px;
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    th:last-child, tr.entry > td:last-child {
        text-align: right;
    }

    tr.entry > td > img {
        margin-right: 5px;
        transform: translate(0, 1px);
    }

    .priority {
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        padding: 3px;
        width: 70px;
        display: block;
        text-align: center;
        color: white;
        margin: auto 0 auto auto;
    }

    .priority.high {
        background-color: rgb(199, 50, 50);
    }

    .priority.medium {
        background-color: #b1b127;
    }

    .priority.low {
        background-color: #38a0c9;
    }
</style>