---
import LayoutOuter from "../layouts/LayoutOuter.astro";
import Basics from "../components/basics.astro";
import Protocol from "../components/protocol.astro";
import Energy from "../components/energy.astro";
import Cost from "../components/cost.astro";
---
<LayoutOuter title="Austausch Klimaanlage - Maßnahme Details">
	<a href="/" id="return">Zurück zur Übersicht</a>
	<h2>Austausch Klimaanlage</h2>
	<nav>
		<a>Basisdaten</a>
		<a>Bearbeitung</a>
		<a>Energieeffizienz</a>
		<a>Wirtschaftlichkeit</a>
	</nav>
	<div class="tab-container">
		<Basics />
		<Protocol />
		<Energy />
		<Cost />
	</div>
</LayoutOuter>

<script>
	//#region Tab Handling
	let tabLinks = document.getElementsByTagName("nav")[0].children;
	for (let i = 0; i < tabLinks.length; i++) {
		tabLinks[i].addEventListener("click", function() {
			switchTab(i);
		});
	}

	switchTab(0);

	function switchTab(tabNumber:number) {
		let tabs = document.getElementsByClassName("tab-content");
		
		for (let i = 0; i < tabs.length; i++) {
			tabs[i].classList.remove("active");
			tabLinks[i].classList.remove("active");
		}
		tabs[tabNumber].classList.add("active");
		document.getElementsByTagName("nav")[0].children[tabNumber].classList.add("active");
	}
	//#endregion

	//#region Form Handling
	let inputsEnergy = document.getElementsByClassName("inputEnergy");
	for (let i = 0; i < inputsEnergy.length; i++) {
		inputsEnergy[i].addEventListener("focusout", parseEnergy);
		inputsEnergy[i].addEventListener("change", parseEnergy);
	}

	function parseEnergy() {
		let totalEnergy:number = 0;
		for (let i = 0; i < inputsEnergy.length; i++) {
			let value = parseFloat((inputsEnergy[i] as HTMLInputElement).value);
			if (!isNaN(value)) {
				totalEnergy += value;
			}
		}
		console.log(totalEnergy);
	}
	//#endregion
</script>

<style>
	#return {
		font-size: 12px;
		margin-left: 6px;
	}

	#return::before {
		content: "\2329";
        display: inline-block;
        font-weight: normal;
        transform: translate(-5px, -1px);
	}

	.tab-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	nav {
		display: flex;
		flex-direction: row;
		gap: 0;
		box-shadow: inset 0 -1px 0 0 var(--borders);
	}

	nav a {
		font-size: 16px;
		text-decoration: none;
		padding: 10px 20px;
		color: var(--text-light);
	}

	nav a:hover {
		color: var(--text);
		cursor: pointer;
	}

	nav a.active {
		color: var(--text);
		background-color: #f3f3f3;
		border: var(--borders) 1px solid;
		border-radius: 5px 5px 0 0;
		border-bottom: none;
		cursor: default;
	}
</style>