---
import LayoutDetails from "../layouts/LayoutDetails.astro";
import DetailsElement from "../components/detailsElement.astro";
---
<LayoutDetails title="Austausch Klimaanlage" active="2">
	<div class="tab-content">
		<section class="main-content">
			<DetailsElement
				title="Geschätzter Gesamtfortschritt"
				body="5% abgeschlossen"
			/>

			<DetailsElement title="Neuen Fortschritt protokolieren">
				<textarea name="comment" rows="2" placeholder="Ergänzen Sie das Protokoll um eine weitere Notiz..."></textarea>
			</DetailsElement>
			<DetailsElement title="Fortschritt Schätzung" row>
					<input type="number" name="progress" placeholder="0" min="0" max="100" value="5" />
					<input type="button" value="Datei anhängen" class="icon iconPlus" />
					<input type="button" value="Speichern" class="icon iconFile" />
			</DetailsElement>
			<hr />
			<DetailsElement 
				title="Otto Normal protokolliert 5% am 29. Oktober 2023"
				body="Die ersten Teile wurden Heute zusammengebaut und für den Einbau vorbereitet."	
			/>
			<DetailsElement 
				title="Max Mustermann hat Otto Normal zugewiesen am 23. September 2023"
				row
			/>
			<DetailsElement 
				title="Max Mustermann am 18. September 2023"
				body="Die neue Anlage wurde geliefert und gelagert, die Hausverwaltung und der Elektriker wissen Bescheid."	
			/>
			<DetailsElement 
				title="Max Mustermann hat diese Maßnahme erstellt am 16. September 2023"
				row
			/>
		</section>
	</div>
</LayoutOuter>
