---
import DetailsElement from "./detailsElement.astro";
---
<div class="tab-content" id="tabCost">
	<section class="main-content">
		<DetailsElement title="Eingaben">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Wahrscheinlichster Fall</th>
						<th>Best case</th>
						<th>Worst case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Investition</td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" class="inputCost bestCase" /></label></td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Nutzungsdauer</td>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" class="inputCost likelyCase" /></td></label>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" class="inputCost bestCase" /></td></label>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" class="inputCost worstCase" /></td></label>
					</tr>
					<tr>
						<td>Kalkulatorischer Zinssatz</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Erwartete Energiepreissteigerung [e]</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Erwartete sonstige Preissteigerung [p]</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" class="inputCost worstCase" /></label></td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Ermittlung der Einsparung">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Kosten (pro Jahr)</th>
						<th>CO₂ (pro Jahr)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label>
								<input type="radio" name="energySavingsSource" value="calculated" checked />
								Berechnet
							</label>
						</td>
						<td class="outputEnergy">
							bla
						</td>
						<td class="outputEnergy">
							bla
						</td>
					</tr>
					<tr>
						<td>
							<label>
								<input type="radio" name="energySavingsSource" value="manual" />
								Manuelle Eingabe
							</label>
						</td>
						<td>
							<label data-unit="€" class="unit"><input type="number" placeholder="-" class="inputCost" id="energySavingsSourceManualCost" /></label>
						</td>
						<td>
							<label data-unit="kg" class="unit"><input type="number" placeholder="-" class="inputCost" id="energySavingsSourceManualCo2" /></label>
						</td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Ergebnisse der Berechnung">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Wahrscheinlichster Fall</th>
						<th>Best case</th>
						<th>Worst case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Interne Verzinsung</td>
						<td class="outputCost likelyCase">23000</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Statische Amortisation</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Dynamische Amortisation</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Kapitalwert nach Laufzeit</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Energetische Einsparung</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Finanzielle-Einsparung (unverzinst)</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>CO₂-Einsparung</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Zeitverlauf (TODO)">
			<img src="/img/graph.png" alt="Graph" style="align-self: start" />
		</DetailsElement>
	</section>
</div>

<style>
	td, th {
		font-size: 13px;
		color: var(--text);
		padding: 5px;
		text-align: right;
		width: 25%;
		font-weight: normal;
	}

	td:first-of-type {
		text-align: left;
	}

	th {
		font-size: 11px;
	}
	
	td input[type="text"] {
		text-align: right;
		width: 100%;
		padding-right: 53px;
	}
</style>