---
import DetailsElement from "./detailsElement.astro";
---
<div class="tab-content" id="tabCost">
	<section class="main-content">
		<DetailsElement title="Eingaben">
			<table class="basicTable">
				<thead>
					<tr>
						<th></th>
						<th>Wahrscheinlichster Fall</th>
						<th>Best case</th>
						<th>Worst case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Investition</td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" tabindex="1" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" tabindex="6" class="inputCost bestCase" /></label></td>
						<td><label data-unit="€" class="unit"><input type="text" placeholder="-" tabindex="11" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Nutzungsdauer</td>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" tabindex="2" class="inputCost likelyCase" /></td></label>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" tabindex="7" class="inputCost bestCase" /></td></label>
						<td><label data-unit="Jahre" class="unit"><input type="text" placeholder="-" tabindex="12" class="inputCost worstCase" /></td></label>
					</tr>
					<tr>
						<td>Kalkulatorischer Zinssatz</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="3" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="8" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="13" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Erwartete Energiepreissteigerung [e]</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="4" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="9" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="14" class="inputCost worstCase" /></label></td>
					</tr>
					<tr>
						<td>Erwartete sonstige Preissteigerung [p]</td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="5" class="inputCost likelyCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="10" class="inputCost bestCase" /></label></td>
						<td><label data-unit="%" class="unit"><input type="text" placeholder="-" tabindex="15" class="inputCost worstCase" /></label></td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Ermittlung der Einsparung">
			<table class="basicTable">
				<thead>
					<tr>
						<th></th>
						<th>Einsparung (pro Jahr)</th>
						<th>CO₂ (pro Jahr)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<label>
								<input type="radio" name="energySavingsSource" value="calculated" checked />
								Berechnet
							</label>
						</td>
						<td class="outputEnergy">
							bla
						</td>
						<td class="outputEnergy">
							bla
						</td>
					</tr>
					<tr>
						<td>
							<label>
								<input type="radio" name="energySavingsSource" value="manual" />
								Manuelle Eingabe
							</label>
						</td>
						<td>
							<label data-unit="€" class="unit"><input type="number" placeholder="-" class="inputCost" id="energySavingsSourceManualCost" /></label>
						</td>
						<td>
							<label data-unit="kg" class="unit"><input type="number" placeholder="-" class="inputCost" id="energySavingsSourceManualCo2" /></label>
						</td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Zusätzliche Einsparungs-/Kostenfaktoren">
			<div id="extraFactorsTable"></div>
			<!--<table class="basicTable hidden" id="extraFactorsTable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Einsparung Betrag</th>
						<th>Art der Einsparung</th>
						<th>Häufigkeit</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			-->
			<button class="icon iconPlus" id="buttonAddNewFactor" style="align-self: flex-start">Neuen Zusatzfaktor erstellen</button>
			
		</DetailsElement>
		<hr />
		<DetailsElement title="Cashflow Tabelle">
			<table id="cashflowOutputTable">
				<thead>
					<tr>
						<th>Jahr</th>
						<th>Cashflow (nicht abgezinst)</th>
						<th>Cashflow abgezinst [e] [p]</th>
						<th>Kumuliert</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="4">Geben Sie Investition, Nutzungsdauer und kalkulatorischer Zins an um die Berechnung zu starten.</td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Ergebnisse der Berechnung">
			<table class="basicTable">
				<thead>
					<tr>
						<th></th>
						<th>Wahrscheinlichster Fall</th>
						<th>Best case</th>
						<th>Worst case</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Interne Verzinsung</td>
						<td class="outputCost likelyCase">23000</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Statische Amortisation</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Dynamische Amortisation</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Kapitalwert nach Laufzeit</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Energetische Einsparung</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>Finanzielle-Einsparung (unverzinst)</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
					<tr>
						<td>CO₂-Einsparung</td>
						<td class="outputCost likelyCase">-</td>
						<td class="outputCost bestCase">-</td>
						<td class="outputCost worstCase">-</td>
					</tr>
				</tbody>
			</table>
		</DetailsElement>
		<hr />
		<DetailsElement title="Zeitverlauf">
			<img src="/img/graph.png" alt="Graph" style="align-self: start" />
		</DetailsElement>
	</section>
</div>

<style>
	.basicTable :global(td), .basicTable :global(th) {
		font-size: 13px;
		color: var(--text);
		padding: 5px;
		text-align: right;
		min-width: 24%;
		font-weight: normal;
	}

	.basicTable td:first-of-type, .basicTable :global(th:first-of-type) {
		text-align: left;
	}

	.basicTable th {
		font-size: 11px;
	}
	
	.basicTable :global(td input[type="text"]) {
		width: 100%;
	}

	.basicTable :global(td .unit input[type="text"]) {
		text-align: right;
		padding-right: 53px;
	}

	#extraFactorsTable {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	#extraFactorsTable :global(.extraSavingsFactor) {
		display: flex;
		flex-direction: row;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#extraFactorsTable :global(.extraSavingsFactor label) {
		min-width: 29%;
	}

	#cashflowOutputTable {
		border-collapse: collapse;
	}

	:global(#cashflowOutputTable td, #cashflowOutputTable th) {
		font-size: 13px;
		line-height: 2;
		color: var(--text);
		padding: 5px 10px;
		text-align: center;
		font-weight: normal;
		border: 1px solid var(--borders);
	}

	:global(#cashflowOutputTable td:first-of-type, #cashflowOutputTable th:first-of-type) {
		text-align: center;
		min-width: 20px;
		width: 20px;
	}

	#cashflowOutputTable :global(tr td section) {
		display: flex;
		justify-content: space-between;
	}
</style>