---
import DetailsElement from "./detailsElement.astro";
import AttachmentCard from "./attachmentCard.astro";
import DetailsGrouping from "./detailsGrouping.astro";
---
<div class="tab-content" id="tabEnergy">
	<section class="main-content">
		<DetailsGrouping title="Strom EnBW">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#535353" viewBox="0 0 16 16" slot="image">
				<path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"/>
			</svg>
			<DetailsElement row	title="Verbrauch bisher (pro Jahr)">
				<label data-unit="kWh" class="unit"><input type="number" value="27400" placeholder="0" /></label>
			</DetailsElement>
			
			<DetailsElement row	title="Prognostizierte Einsparung (pro Jahr)">
				<label data-unit="kWh" class="unit"><input type="number" value="9200" placeholder="0" class="inputEnergy" name="savings1" /></label>
			</DetailsElement>
			<hr />
			<DetailsElement title="Berechnete Einsparung (pro Jahr)">
				<DetailsElement title="Leistung" body="9.200 kWh" row output />
				<DetailsElement title="CO₂" body="5.336,9 kg" row output />
				<DetailsElement title="Kosten" body="1.932 €" row output />
			</DetailsElement>
			<hr />
			<DetailsElement	title="Verbundene Datenpunkte">
				<AttachmentCard name="Stromzähler Bürogebäude" icon="iconMeter" />
			</DetailsElement>
			<DetailsElement row	title="Methode der Nachweisführung">
				<input type="text" value="Manuelle Messung" />
			</DetailsElement>
		</DetailsGrouping>
		<DetailsGrouping title="Stadtwerke KA Heizöl">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#535353" class="bi bi-droplet" viewBox="0 0 16 16" slot="image">
				<path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
				<path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"/>
			</svg>
			<DetailsElement row	title="Verbrauch bisher (pro Jahr)">
				<label data-unit="L" class="unit"><input type="number" value="14900" placeholder="0" /></label>
			</DetailsElement>
			
			<DetailsElement row	title="Prognostizierte Einsparung (pro Jahr)">
				<label data-unit="L" class="unit"><input type="number" value="1200" placeholder="0" class="inputEnergy" name="savings2" /></label>
			</DetailsElement>
			<hr />
			<DetailsElement title="Berechnete Einsparung (pro Jahr)">
				<DetailsElement title="Leistung" body="1.200 kWh" row output />
				<DetailsElement title="CO₂" body="390 kg" row output />
				<DetailsElement title="Kosten" body="312 €" row output />
			</DetailsElement>
			<hr />
			<DetailsElement	title="Verbundene Datenpunkte">
				<AttachmentCard name="Heizung Ablesegeräte" icon="iconMeter" />
			</DetailsElement>
			<DetailsElement row	title="Methode der Nachweisführung">
				<input type="text" value="Manuelle Messung" />
			</DetailsElement>
		</DetailsGrouping>
		<button class="icon iconPlus" style="align-self: start">Weitere hinzufügen</button>
	</section>
	<section class="sidebar">
		<DetailsGrouping title="Berechnete Einsparung Gesamt (pro Jahr)">
			<DetailsElement title="Leistung" body="10.400 kWh" row output />
			<DetailsElement title="CO₂" body="5.726,9 kg" row output />
			<DetailsElement title="Kosten" body="2.244 €" row output />
		</DetailsGrouping>
	</section>
</div>

<style>
	input[type="text"], input[type="number"] {
		text-align: right;
	}
</style>