---
interface Props {
	body?: string;
	centered?: boolean;
}

const { body, centered = false } = Astro.props;
---

<div class:list={['protocol-entry', (centered ? 'centered' : '')]}>
	<h4>
		<slot />
	</h4>
	{ body ? <p>{body}</p> : null }
</div>

<style>
	.protocol-entry {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 5px;
	}

	.protocol-entry.centered h4 {
		text-align: center;
	}

	.protocol-entry h4 {
		font-size: 11px;
		font-weight: normal;
	}

	.protocol-entry p {
		font-size: 14px;
	}
</style>
