---
import DetailsElement from "./detailsElement.astro";
import ProtocolEntry from "./protocolEntry.astro";
---
<div class="tab-content" id="tabProtocol">
	<section class="main-content">
		<DetailsElement	title="Geschätzter Gesamtfortschritt" >
			<div class="progress">
				<div class="progress-bar" style="width: 25%">25%</div>
			</div>
		</DetailsElement>
		<DetailsElement title="Neuen Fortschritt protokolieren">
			<textarea name="comment" rows="2" placeholder="Ergänzen Sie das Protokoll um einen weiteren Eintrag..."></textarea>
		</DetailsElement>
		<section id="buttons">
			<label class="unit" data-unit="%">
				Fortschritt Schätzung:
				<input type="number" dir="rtl" name="progress" placeholder="0" min="25" max="100" value="25" step="25" />
			</label>
			<button class="icon iconAttachment">Datei anhängen</button>
			<button class="icon iconSave">Speichern</button>
		</section>
		<hr />
		<DetailsElement title="Bearbeitungsprotokoll" />
		<ProtocolEntry body="Die ersten Teile wurden Heute zusammengebaut und für den Einbau vorbereitet.">
			<b>Otto Normal</b> protokolliert <b>25%</b> am 29. Oktober 2023
		</ProtocolEntry>
		<ProtocolEntry centered>
			<b>Max Mustermann</b> hat <b>Otto Normal</b> zugewiesen am 23. September 2023
		</ProtocolEntry>
		<ProtocolEntry body="Die neue Anlage wurde geliefert und gelagert, die Hausverwaltung und der Elektriker wissen Bescheid.">
			<b>Max Mustermann</b> am 18. September 2023
		</ProtocolEntry>
		<ProtocolEntry centered>
			<b>Max Mustermann</b> hat diese Maßnahme erstellt am 16. September 2023
		</ProtocolEntry>
	</section>
</div>
<style>
	#buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px
	}

	.progress {
		background-color: var(--borders);
		border-radius: 100px;
	}

	.progress-bar {
		background-color: #1ccc5f;
		border-radius: 100px;
		font-size: 13px;
		line-height: 26px;
		text-align: center;
		color: #fff;
	}

	.unit::after {
		width: 30px;
	}

	input[type="number"] {
		min-width: 90px;
		width: 90px;
		padding-right: 38px;
		margin-left: 10px;
  		appearance: initial;
	}

	/* Chrome, Safari, Edge, Opera */
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: initial;
		display: initial;
		margin: initial;
	}

</style>