---
import "../styles/style.css";
import "../styles/icons.css";
interface Props {
	title?: string;
}

const { title = "Energiemanagement" } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<article id="main">
			<div id="nav">
				<a href="/">Maßnahmen Übersicht</a>
				<a href="/categories">Energieträger</a>
			</div>
			<slot />
		</article>
	</body>
</html>
<style>
	:global(:root) {
		--borders: #D0D0D0;
		--text: #242424;
		--text-light: #535353;
	}
	#nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 2rem;
		align-items: center;
		border-bottom: 1px solid var(--borders);
	}
	#nav a {
		color: var(--text);
		padding: 1rem;
		padding-top: 0;
	}
</style>
